<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58796308436-aivoksc8kvvbms7fl5d0g6mpmsrqalit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58796308436-aivoksc8kvvbms7fl5d0g6mpmsrqalit</string>
	<key>API_KEY</key>
	<string>AIzaSyCtw7PVej8Y1zECQoJWR6d0IMu2EUx3lPA</string>
	<key>GCM_SENDER_ID</key>
	<string>58796308436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MichaelSpagna.Nice-Chat</string>
	<key>PROJECT_ID</key>
	<string>nice-chatroom</string>
	<key>STORAGE_BUCKET</key>
	<string>nice-chatroom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58796308436:ios:2d387324c1167ec9e34841</string>
</dict>
</plist>